fastapi
uvicorn[standard]
pydantic
pydantic-settings
SQLAlchemy~=1.4.0
psycopg2-binary
hvac # Cliente Python para o Vault
PyYAML # Para carregar políticas a partir de arquivos YAML
python-json-logger # Para logging estruturado
networkx # Para análise de grafos


# Test dependencies
pytest
pytest-asyncio # Core engine é async, então testes de API podem precisar
# httpx # Para TestClient em API tests, se aplicável
