fastapi
uvicorn[standard]
pydantic
pydantic-settings
SQLAlchemy~=1.4.0
psycopg2-binary
hvac # Cliente Python para o Vault

# Test dependencies
pytest
pytest-asyncio # Core engine é async, então testes de API podem precisar
# httpx # Para TestClient em API tests, se aplicável
