fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pyotp
python-multipart
httpx
alembic
hvac # Cliente Python para o Vault
slowapi # Para rate limiting
python-json-logger # Para logging estruturado
