fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
emails # For sending emails
httpx # For async HTTP requests (if this service needs to call others, or for testing)
boto3 # For AWS SES integration
